.addAuthorContainer p {
  margin-left: 22px;
}

.addAuthorContainer form {
  margin-left: 22px;
}

.nameInput {
  margin-left: -55px;
}

.table {
  border-style: solid;
  width: 300px;
  margin: 20px;
  height: 150px;
}

.errorMessage {
  margin-left: 22px;
  color: red;
}
